- title t('.title')

- if can? :create, PhotoGallery
  - content_for :buttons do
    = admin_button_tag :new, new_admin_photo_gallery_url, :class => 'new', :id => 'newphotogallery'

- if @photo_galleries.empty?
  %p.no-items!= t('.no_items', :url => new_admin_photo_gallery_url)
- else
  %ul#photo-galleries-list
    = render @photo_galleries
